{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@context": "./src/context",
          "@services": "./src/services",
          "@styles": "./src/styles",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
